<!DOCTYPE html>
<html>
<head>
    {% include head.html %}
    {% seo %}
</head>
<body class="{{ page.layout | append: '-template' }}">

{% include header.html %}

<div id="wrapper">
    {{ content }}
    <div class="clearfix"></div> 
</div>

{% include footer.html %} 
<script src="{{ site.asset_url }}/lib/jquery-1.12.0.min.js"></script>
<script src="{{ site.asset_url }}/lib/jquery.magnific-popup.min.js"></script>
<script src="{{ site.asset_url }}/js/index.js"></script>
<script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-139970023-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-139970023-1');
</script>

</body>
</html>
